<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/" method="POST">
      <input type="text">
      <input type="text">
      <input type="button" onclick="sendQuery()" value="Submit">
    </form>
    <script src="javascripts/sendQuery.js"></script>
  </body>
</html>
